body 
{ 
	font-family: Bodoni; 
	font-size: 16px; 
	line-height: 18px; 
	background: lightgreen; 
	text-align: center 
}

#container {
	margin: 0 auto;
	width: 1023px; 
} 

/* header { float: center; width: 1023px; height: 162px; background: #navy; } */
#footer { 
	float: center;
	width: 1023px;
	height: 40px;
	background: #515050;
	text-align: center;
}

h1
{
    text-align: center; font-size: 40px; 
}

h2
{
	text-align: center; font-size: 20px;
}

h3
{
	text-align: center; font-size: 16px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li 
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    background-color: #4CAF50;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}


}
